<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<link rel='stylesheet' href='css/reset.css' />
		<link rel='stylesheet' href='css/style.css' />
		<link rel='stylesheet' href='scss/contact.css' />
		<title>We>Code - Contact</title>
	</head>
	<body>
		<div class='container'>
			<div class='whitespace-1'>
				<div id='mySidenav' class='sidenav'>
					<a
						href='javascript:void(0)'
						class='closebtn'
						onclick='closeNav()'
					>&times;</a>
					<a href='index.html'>Home</a>
					<a href='product.html'>Platform</a>
					<a href='about us.html'>About</a>
					<a href='contact.html'>Contact</a>
				</div>
				<span
					style='font-size:30px;cursor:pointer'
					onclick='openNav()'
				>&#9776;</span>
			</div>
			<div class='content'>
				<h1>Contact</h1>
				<div class='text-box-1'>
					<h2>Ready to join the We>Code team?</h2>
					<p>If you've made it to this page, it means we at least sparked some
						interest to join the We>Code team. Don't need any further
						convincing? Just go ahead and jump to the form below to leave us
						your details and we'll be in touch as soon as possible!</p><br />
					<p>Are you hesitant to take the plunge and need some more convincing?
						Fear not, brave freelancer-to-be. Signing up below doesn't imply any
						commitment whatsoever. We will, however, welcome you to have a chat,
						answer all your questions and take away your doubts.</p>
				</div>
				<div class='text-box-2'>
					<h2>Let's freelance at We>Code!</h2>
					<div class='form-box'>
						<form
							action='https://miro.medium.com/max/600/1*Ez3hHc2qOOQhUZd5NLZaYA.png'
							method='POST'
						>
							<label>Your first name:
								<input
									type='text'
									name='fname'
									required
									placeholder='My first name is...'
								/>
							</label>
							<label>Your last name:
								<input
									type='text'
									name='lname'
									required
									placeholder='My last name is...'
								/>
							</label>
							<label>Your email:
								<input
									type='email'
									name='_replyto'
									required
									placeholder='My email is...'
								/>
							</label>
							<label>Your phone:
								<input
									type='tel'
									name='phone'
									required
									placeholder='My phone number is...'
								/>
							</label>
                            <input type = "submit" pla
							<label>Your message:
								<textarea
									name='message'
									placeholder='What I want to say is...'
								></textarea>
							</label>
							<div class='button'>Let's freelance at We>Code! >>></div>
						</form>
					</div>
				</div>
				<div class='container-footer'>
					<div class='col-1'>
						<img
							src='images/logo-footer.png'
							alt='Logo footer'
							width='120'
							height='120'
						/><br /><br />
						<br /><br /><br />
						&copy; 2021 We>Code. All Rights Reserved.
					</div>
					<div class='col-2'>
						<h2>Explore</h2>
						<br /><br />
						<div class='links'>
							<a href='index.html'>Home</a><br /><br />
							<a href='product.html'>Platform</a><br /><br />
							<a href='about us.html'>About</a><br /><br />
							<a href='contact.html'>Contact</a><br /><br />
						</div>
					</div>
					<div class='col-3'>
						<h2>Follow us on</h2><br /><br />
						<div class='icons'>
							<div class='icons'>
								<a href='https://www.facebook.com/'><img
										src='images/facebook.png'
										width='25px'
										height='25px'
										alt='Facebook logo'
									/></a>
								<a href='https://twitter.com/'><img
										src='images/twitter.png'
										width='25px'
										height='25px'
										alt='Twitter logo'
									/></a>
								<a href='https://www.linkedin.com/'><img
										src='images/linkedin.png'
										width='25px'
										height='25px'
										alt='LinkedIn logo'
									/></a>
								<a href='https://www.instagram.com/'><img
										src='images/instagram.png'
										width='25px'
										height='25px'
										alt='Instagram logo'
									/></a>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class='whitespace'>
				<img src='images/logo.png' alt='We>Code logo' />
			</div>
		</div>
		<script>
			function openNav() { document.getElementById("mySidenav").style.width =
			"250px"; } function closeNav() {
			document.getElementById("mySidenav").style.width = "0"; }
		</script>
	</body>
</html>