<html lang='en'>

	<head>
		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />

		<title>Better-OnSubmit demo</title>

		<link
			rel='stylesheet'
			href='https://unpkg.com/awsm.css/dist/awsm.min.css'
		/>
	</head>

	<body>
		<form id='form'>
			<h4>Connecting front end with backend using mongodb and express js and
				node js</h4>
			<p>Open console to see the results</p>
			<fieldset>
				<legend>Be first</legend>

				<label class='group'>
					Name<br />
					<input name='name' type='text' placeholder='Enter Your Name' />
				</label>
				<label class='group'>
					Email<br />
					<input name='email' type='email' placeholder='Enter Your Email ID' />
				</label>

				<label class='group'>
					Phone number<br />
					<input name='phone' type='tel' placeholder='Numbers only, please' />
				</label>
				<label class='group'>
					Tell us about yourself<br />
					<textarea name='about'></textarea>
				</label>
				<label class='group'>
					Password<br />
					<input
						name='password'
						type='password'
						placeholder='Use strong password!'
					/><br />
				</label>
				<div class='group'>
					<button>Submit</button>
					<button type='reset'>Reset</button>
				</div>
			</fieldset>
		</form>
	</body>
</html>