<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<link rel='stylesheet' href='css/reset.css' />
		<link rel='stylesheet' href='css/style.css' />
		<link rel='stylesheet' href='css/product.css' />
		<title>We>Code - Product</title>
	</head>
	<body>
		<div class='container'>
			<div class='whitespace'>
				<div id='mySidenav' class='sidenav'>
					<a
						href='javascript:void(0)'
						class='closebtn'
						onclick='closeNav()'
					>&times;</a>
					<a href='index.html'>Home</a>
					<a href='product.html'>Platform</a>
					<a href='about us.html'>About</a>
					<a href='contact.html'>Contact</a>
				</div>
				<span
					style='font-size:30px;cursor:pointer'
					onclick='openNav()'
				>&#9776;</span>
			</div>
			<div class='content'>
				<h1>How Does It Work</h1>
				<img src='images/cloud.png' alt='' />
				<div class='textboxarea'>
					<div id='usp1' class='textbox'>
						<p>USP1</p>
					</div>
					<div class='blank'></div>
					<div id='usp2' class='textbox'>
						<p>USP2</p>
					</div>
					<div id='usp1text' class='textbox2'>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic,
							possimus asperiores perferendis libero aspernatur sed est
							laboriosam accusantium corporis dolore, non quaerat!</p>
					</div>
					<div class='blank'></div>
					<div id='usp2text' class='textbox2'>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
							quisquam soluta eaque rem, et expedita quo sint debitis corporis
							accusantium laboriosam, odio, mollitia dolor quae amet excepturi
							possimus corrupti ad.</p>
					</div>
					<div class='blank'></div>
					<div id='usp3' class='textbox'>
						<p>USP3</p>
					</div>
					<div class='blank'></div>
					<a id='join' class='button' href='contact.html'>Join us >>></a>
					<div id='usp3text' class='textbox2'>
						<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
							Quisquam atque quo officiis fuga qui delectus odit ducimus illo,
							earum quis cum dolorum laudantium nihil ab magnam! Asperiores
							suscipit adipisci at.</p>
					</div>
					<div class='blank'></div>
					<div class='blank'></div>

				</div>
				<div class='container-footer'>
					<div class='col-1'>
						<img
							src='images/logo-footer.png'
							alt='Logo footer'
							width='120'
							height='120'
						/><br /><br />
						<br /><br /><br />
						&copy; 2021 We>Code. All Rights Reserved.
					</div>
					<div class='col-2'>
						<h2>Explore</h2>
						<br /><br />
						<div class='links'>
							<a href='index.html'>Home</a><br /><br />
							<a href='product.html'>Platform</a><br /><br />
							<a href='about us.html'>About</a><br /><br />
							<a href='contact.html'>Contact</a><br /><br />
						</div>
					</div>
					<div class='col-3'>
						<h2>Follow us on</h2><br /><br />
						<div class='icons'>
							<a href='https://www.facebook.com/'><img
									src='images/facebook.png'
									width='25px'
									height='25px'
									alt='Facebook logo'
								/></a>
							<a href='https://twitter.com/'><img
									src='images/twitter.png'
									width='25px'
									height='25px'
									alt='Twitter logo'
								/></a>
							<a href='https://www.linkedin.com/'><img
									src='images/linkedin.png'
									width='25px'
									height='25px'
									alt='LinkedIn logo'
								/></a>
							<a href='https://www.instagram.com/'><img
									src='images/instagram.png'
									width='25px'
									height='25px'
									alt='Instagram logo'
								/></a>
						</div>
					</div>
				</div>
			</div>
			<div class='whitespace'>
				<img src='images/logo.png' alt='Logo' />
			</div>
		</div>
		<script>
			function openNav() { document.getElementById("mySidenav").style.width =
			"200px"; } function closeNav() {
			document.getElementById("mySidenav").style.width = "0"; }
		</script>
	</body>
</html>