/** @format */

.wrapper {
	margin: 2rem;
	width: auto;
	padding: 6rem;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.sidenav {
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.heading {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 700;
	font-size: 35px;
	margin-bottom: 5rem;
}

img {
	display: block;
	padding: 0;
}

.link a {
	color: cadetblue;
	text-decoration: none;
	border: cadetblue 1px solid;
	padding: 10px;
	margin-top: 1rem;
}

a:hover {
	color: black;
	border: black 1px solid;
}

/********************************* Here Starts css for About us *********************************/

.container-aboutme {
	height: 100%;
	grid-gap: 6rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 'about-us-img about-us-text';
}

.about-us-img {
	grid-area: about-us-img;
	transition: transform 0.5s, filter 1.5s ease-in-out;
	filter: grayscale(100%);
	margin: auto;
}

.about-us-img:hover {
	box-shadow: rgb(17, 100, 102, 0.8) 0px 20px 30px 2px;
	transform: scale(1.5);
	filter: grayscale(0);
	transform: scale(1.1);
}

.about-us-text {
	padding: 3rem;
	grid-area: about-us-text;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/********************************* Here Starts css for Services *********************************/

.container-services {
	grid-gap: 6rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		'services-img-one services-text-one'
		'services-text-two services-img-two';
}

.services-img-one {
	grid-area: services-img-one;
	transition: transform 0.5s, filter 1.5s ease-in-out;
	filter: grayscale(100%);
	margin: auto;
}

.services-img-one:hover {
	grid-area: services-img-one;
	filter: grayscale(0);
	transform: scale(1.1);
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.services-text-one {
	padding: 3rem;
	grid-area: services-text-one;
	box-shadow: rgb(17, 100, 102, 0.8) 0px 20px 30px -5px;
}

.services-text-two {
	padding: 3rem;
	box-shadow: rgb(17, 100, 102, 0.8) 0px 20px 30px -5px;
}

.services-img-two {
	margin: auto;
	box-shadow: rgb(17, 100, 102, 0.8) 0px 20px 30px -10px;
	grid-area: services-img-two;
	transition: transform 0.5s, filter 1.5s ease-in-out;
	filter: grayscale(100%);
}

.services-img-two:hover {
	grid-area: services-img-two;
	filter: grayscale(0);
	transform: scale(1.1);
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/******************************** Here Starts css for Portfolio *********************************/

.container-portfolio {
	grid-gap: 2rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas:
		'port-img-one port-img-two port-img-three'
		'port-text port-text port-text';
}

.port-img-one {
	margin: auto;
	grid-area: port-img-one;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.port-img-two {
	margin: auto;
	grid-area: port-img-two;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.port-img-three {
	margin: auto;
	grid-area: port-img-three;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.port-text {
	padding: 2rem;
	grid-area: port-text;
	box-shadow: rgb(17, 100, 102, 0.8) 0px 20px 30px -5px;
}

/********************************* Here Starts css for Footer *********************************/

.container-footer {
	margin: auto;
	grid-gap: 1rem;
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	grid-template-areas: 'col-1 col-2 col-3 col-4';
}

.col-1 {
	padding: 2rem;
	text-align: left;
	grid-area: col-1;
}

.col-2 {
	padding: 2rem;
	grid-area: col-2;
}

.links a {
	text-decoration: none;
	color: #8ecccc;
	font-size: 17px;
}

.links:hover {
	text-decoration: none;
}

.col-3 {
	padding: 2rem;
	grid-area: col-3;
}

.icons {
	color: #116466;
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

/********************************* Here Starts css for carousel*********************************/
.mySlides {
	display: none;
}
.slideshow-container img {
	vertical-align: middle;
	opacity: 0.8;
}

.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
	box-sizing: border-box;
}

.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: #8ecccc;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	background-color: rgba(0, 0, 0, 0.8);
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.text {
	color: #8ecccc;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 97.6%;
	text-align: center;
	background-color: black;
	opacity: 0.5;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	grid-template-columns: none;
}

.dotarea {
	margin-left: 48%;
}

.active,
.dot:hover {
	background-color: #8ecccc;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

/********************************* Making it Responsive *********************************/

@media screen and (max-width: 1201px) {
	.wrapper {
		width: 100vh;
	}

	/**********About-us section***********/

	.container-aboutme {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		grid-template-areas:
			'about-us-img'
			'about-us-text';
	}

	.about-us-img {
		grid-area: about-us-img;
	}

	.about-us-text {
		grid-area: about-us-text;
	}

	/**************Service section******************/

	.container-services {
		grid-gap: 6rem;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		grid-template-areas:
			'services-img-one'
			'services-text-one'
			'services-img-two'
			'services-text-two';
	}
	.services-img-one {
		grid-area: services-img-one;
	}
	.services-text-one {
		grid-area: services-text-one;
	}
	.services-img-two {
		grid-area: services-img-two;
	}
	.services-text-two {
		grid-area: services-text-two;
	}

	/*******************Portfolio section******************/

	.container-portfolio {
		grid-gap: 2rem;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas:
			'port-img-one'
			'port-img-two'
			'port-img-three'
			'port-text';
	}

	.port-img-one {
		grid-area: port-img-one;
	}

	.port-img-two {
		grid-area: port-img-two;
	}

	.port-img-three {
		grid-area: port-img-three;
	}

	.port-text {
		grid-area: port-text;
	}

	/****************Footer section*******************/

	.container-footer {
		margin: auto;
		grid-gap: 1rem;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas:
			'col-1'
			'col-2'
			'col-3';
	}

	.col-1 {
		grid-area: col-1;
	}

	.col-2 {
		grid-area: col-2;
	}

	.col-3 {
		grid-area: col-3;
	}
}
