/** @format */

$background-color: #3a4042;
$green: #116466;
$beige: #d9b08c;
$skin: #ffcb9a;
$lightest-color: #8ecccc;
$font: Verdana, Geneva, sans-serif;

.whitespace img {
	width: 200px;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: $background-color;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: $lightest-color;
	display: block;
}

.sidenav a:hover {
	color: $green;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

span {
	float: left;
	margin: 10px;
}

body {
	background-color: $background-color;
	font-family: $font;
	color: $lightest-color;
}

h1 {
	font-size: 30px;
	color: $green;
	padding-top: 25px;
	padding-bottom: 25px;
}

h2 {
	font-size: 25px;
	color: $green;
	padding-top: 25px;
	padding-bottom: 25px;
}

h4 {
	font-size: 18px;
	color: $green;
	padding-top: 50px;
	padding-bottom: 15px;
}

h5 {
	font-size: 18px;
	color: $lightest-color;
	padding: 5px;
}

p {
	font-size: 14px;
	line-height: 2;
	text-align: justify;
}

.container {
	display: grid;
	grid-template-columns: 200px auto 200px;
}

.button {
	color: $lightest-color;
	background-color: $background-color;
	border: 2px solid $lightest-color;
	border-radius: 4px;
	text-align: center;
	font-weight: bold;
	padding: 15px;
	width: 50%;
	margin-left: 25%;
	margin-top: 50px;
	margin-bottom: 50px;
}

.button:hover {
	color: $lightest-color;
	background-color: $green;
	border: $green 2px solid;
	border-radius: 4px;
	text-align: center;
	font-weight: bold;
	padding: 15px;
	transform: scale(1.1);
	width: 50%;
	margin-left: 25%;
	margin-top: 50px;
	margin-bottom: 50px;
}

@media only screen and(max-width:1024px) {
	.container {
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: auto;
	}
}
